html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
  background-color: #242424;
}

* {
  box-sizing: border-box;
}

.remote-cursor {
  border-left: 2px solid orange;
  position: absolute;
  z-index: 10;
}